.content-section {
	display: flex;
	flex-direction: column;
}

.artist-title {
	text-align: center;
	margin-bottom: 0.4em;
}

#artist-info {
	flex: 0 1 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.5em;
}

#artist-info #image > img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}
