section.about-website {
	padding: 1.5em;
	font-size: 1.2em;
	line-height: 2em;
}

@-moz-document url-prefix() {
	section.about-website:after {
		content: "";
		height: 1em;
		width: 100%;
		opacity: 0;
		display: block;
		flex-shrink: 0;
	}
}

section.about-website p,
div.about-sidebar p {
	margin-bottom: 0;
}

section.about-website a {
	color: var(--color-primary);
}

.go-back-button {
	padding: 0.6em 1.3em;
	font-size: min(6vw, 1.2rem);
	font-weight: 400;
	background-color: var(--color-primary);
	color: var(--color-neutral);
	border-width: 0;
	align-self: center;
	width: 10em;
}

.go-back-button:hover {
	background-color: var(--color-primary);
	color: var(--color-neutral);
}

div.extra-info {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	font-size: 1.2em;
	font-weight: 500;
	gap: max(1em, 5%);
	overflow-y: auto;
	justify-content: flex-start;
	padding-bottom: 1em;
}

div.extra-info p {
	box-sizing: border-box;
}

div.extra-info a {
	width: 100%;
	color: var(--color-neutral);
	text-decoration: none;
}

div.extra-info button {
	margin: 0 auto;
	padding: 0.5em 1em;
	width: min(80%, 10em);
	background-color: var(--color-primary);
	color: var(--color-neutral);
}

div.extra-info button:hover {
	background-color: var(--color-primary);
	color: var(--color-neutral);
}

.github-buttons {
	display: flex;
	justify-content: center;
	gap: 1em;
}
