.content-section {
	display: flex;
	flex-direction: column;
}

.artist-title {
	text-align: center;
	margin-bottom: 0.4em;
}

.artist-links {
	position: absolute;
	right: 18px;
	top: 18px;
	display: flex;
	gap: 0.8em;
	align-items: center;
}

#artist-info {
	flex: 0 1 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.5em;
}

#artist-info #image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

#artist-info #image > img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}
