.playlist-creator {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-top: 1em;
	align-items: center;
	/* height: 100%; */
	font-size: min(6vw, 1.3em);
}

.playlist-creator > img {
	width: min(40vw, 180px);
	height: min(40vw, 180px);
	object-fit: cover;
	background-color: var(--color-primary);
}
