.playlist-creator {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-top: 0.5em;
	align-items: center;
	font-size: min(6vw, 1.3em);
	height: 95%;
	padding-top: 10%;
	border-radius: 5px;
	color: var(--color-secondary);
	background-color: var(--color-neutral);
}

.playlist-creator > img {
	width: min(40vw, 180px);
	height: min(40vw, 180px);
	object-fit: cover;
	background-color: var(--color-secondary);
}

.playlist-creator a {
	/* color: #107e48 !important; */
}
