.playlist-creator {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-top: 0.5em;
	justify-content: center;
	align-items: center;
	font-size: min(5vw, 1.3em);
	height: 95%;
	border-radius: 5px;
	color: var(--color-secondary);
	background-color: var(--color-neutral);
}

.creator-name {
	width: 100%;
	text-align: center;
}

.playlist-creator > img {
	width: min(38vw, 160px);
	height: min(38vw, 160px);
	object-fit: cover;
	background-color: var(--color-secondary);
}
