#page-error-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -45%);
	transform: translate(-50%, -45%);

	color: var(--color-neutral);
	font-size: min(6vw, 1.3rem);
	font-weight: 500;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	text-align: center;
}

#page-error-content > strong {
	font-size: min(8vw, 2.2rem);
	padding: 0;
}

.return-home-button {
	padding: 0.6em 1.3em;
	font-size: min(6vw, 1.2rem);
	font-weight: 300;
	background-color: var(--color-neutral);
	color: var(--color-secondary);
	border-width: 0;
}

.return-home-button:hover {
	background-color: var(--color-neutral);
	color: var(--color-secondary);
}

#error-logo {
	width: min(40vw, 220px);
	-webkit-animation: rotation 3.5s linear infinite both;
	animation: rotation 3.5s linear infinite both;
}
