.find-content > section.content-section {
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 2em 0;
	gap: 2em;
}

#attribute-inputs {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
	padding: 0 0.5em;
	gap: min(10vw, 4em);
	margin-top: 0.5em;
}

#attribute-inputs div > label {
	margin-right: 0.4em;
}

.dropdown-value-input > select {
	padding: 0.2em;
	background-color: var(--color-secondary);
}

.dropdown-value-input > label:first-child {
	font-weight: 600;
}

#attribute-sliders {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding-right: 2.5em;
	gap: 2em;
}

button.find-button {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.8em 1em;
	color: var(--color-neutral);
	background-color: var(--color-primary);
	border-width: 0;
	border-radius: 5px;
	width: 10em;
	margin-right: 2.5em;
}

button.refresh-button {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.6em 1em;
	color: var(--color-neutral);
	background-color: var(--color-primary);
	border-width: 0;
	border-radius: 5px;
	width: 10em;
	align-self: center;
}

.slider .attribute-disabled {
	filter: opacity(0.3);
}

.react-tabs__tab-panel--selected.instructions-tab {
	font-size: 1.2rem;
	font-weight: 500;
	overflow-y: auto;
	max-height: 65vh;
	line-height: 2rem;
}
