.navbar-toggler-icon {
	width: 1.4em;
	height: 1.4em;
}

.navbar-light .navbar-toggler {
	border: 0;
	padding: 0.25rem 0.5rem;
}

.navbar-light .navbar-toggler:focus {
	outline: 1px solid var(--color-neutral);
	border-radius: 10px;
}

.navbar-brand {
	font-size: 1.3em;
	letter-spacing: 5px;
	align-self: center;
	display: flex;
	align-items: center;
	gap: 0.6em;
}

#header-logo {
	width: 34px;
	height: 34px;
}

#navbar .navbar-nav {
	align-items: center;
	gap: 1rem;
}

#navbar .nav-link {
	font-size: 1.2em;
	font-weight: 600;
	color: var(--color-neutral);
	animation: focusOut 0.15s linear forwards;
}

#navbar .nav-link:hover {
	animation: focusIn 0.15s linear forwards;
}
