section.showcase-section {
	align-items: center;
	justify-content: center;
}

div.side-content.request-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.side-content.request-login p {
	padding-top: 0.5em;
	margin: 0;
	font-weight: 400;
	font-size: 1.2em;
	text-align: center;
}

div.side-content button {
	padding: 0.6em 1.4em;
	font-size: 1.3rem;
	font-weight: 400;
	background-color: var(--color-primary);
	color: var(--color-neutral);
	border-width: 0;
}

div.side-content button:hover {
	background-color: var(--color-primary);
	color: var(--color-neutral);
}

.carousel {
	max-height: 100%;
}

.carousel-inner {
	width: auto;
	padding-bottom: 2em;
}

.carousel-caption {
	padding: 0;
}

.carousel-caption p {
	position: relative;
	bottom: 0;
	margin-bottom: 0;
	padding: 0.3em 0.5em;
	font-size: min(1.7em, 3vw);
	font-weight: 500;
	width: 100%;
	color: var(--color-secondary);
	background-color: var(--color-neutral);
	filter: drop-shadow(0 0 3px rgba(77, 253, 165, 0.9));
	border-radius: 4px;
}

.carousel-indicators {
	margin-bottom: 0;
}

.carousel-indicators li {
	background-color: var(--color-primary);
}

.carousel img {
	object-fit: contain;
	width: 95%;
	margin: auto;
	border: 2px inset var(--color-primary);
	border-radius: 4px;
}
