ul.pagination {
	align-self: center;
	display: flex;
	max-width: min(95vw, 350px);
	justify-content: center;
}

.pagination-divider {
	flex: 1 0 20px;
}

.pagination > li {
	text-decoration: none;
}

.pagination > li a {
	color: var(--color-secondary);
	width: 100%;
	height: 100%;
	padding: 0.4em 0.8em;
	border: 1px solid var(--color-secondary);
	box-sizing: border-box;
	font-size: 1.1em;
	filter: opacity(0.6);
	animation: focusOut 0.1s linear;
	cursor: pointer;
}

.pagination > li:first-child a {
	border-radius: 5px 0 0 5px;
}

.pagination > li:last-child a {
	border-radius: 0 5px 5px 0;
}

.pagination > li.active a {
	font-weight: 600;
	color: var(--color-primary);
	filter: opacity(1);
}

.pagination > li.disabled a {
	color: slategray;
	cursor: default;
}

.pagination > li a:hover {
	text-decoration: none;
	animation: focusIn 0.2s linear forwards;
}

.pagination > li.disabled a:hover {
	animation: none;
	background-color: var(--color-neutral);
	color: slategray;
}

.pagination > li.active a:hover {
	background-color: var(--color-neutral);
	color: var(--color-primary);
	cursor: default;
}
