.playlists-content .content-section {
	justify-content: space-between;
}

.playlist-title {
	text-align: center;
}

#playlist-info {
	flex: 0 1 auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1.5em;
}

#playlist-info #misc-data {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
	width: 80%;
	gap: 1em;
}

#playlist-info #misc-data #playlist-description {
	flex: 1 0 100%;
}

#playlist-info #misc-data #playlist-description .divider {
	width: 85%;
	margin: 0 auto 0.5em auto;
	border-bottom: 1px solid var(--color-secondary);
}

#playlist-info #misc-data div:nth-child(-n + 4) {
	flex: 1 0 21%;
}

#playlist-info #misc-data div:last-child {
	margin-top: 0.5em;
}

#playlist-info #image > img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: 0 0.5em;
}
