/* Responsiveness */

@media screen and (max-width: 1140px) {
	.side-toggle {
		display: block;
	}

	section.content-section {
		grid-column: 1 / span 10;
		grid-row: 1 / span 24;

		-webkit-animation: slide-in-down 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		animation: slide-in-down 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	}

	section.sidebar-section:not(.request-login):not(.login-sidebar),
	div.side-content:not(.request-login):not(.login-sidebar) {
		z-index: 30;
		grid-column: 5 / span 10;
		grid-row: 4 / span 24;
	}

	section.login-section {
		grid-row: 1 / span 17;
	}

	section.sidebar-section.login-sidebar,
	div.side-content.request-login {
		z-index: 30;
		grid-column: 1 / span 10;
		grid-row: 18 / span 24;
		flex-wrap: nowrap;

		-webkit-animation: slide-in-down 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		animation: slide-in-down 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	}

	section.sidebar-nothing,
	div.sidebar-nothing {
		display: none;
	}

	section.sidebar-closed,
	div.sidebar-closed {
		display: flex;
		-webkit-animation: slide-out-right 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
		animation: slide-out-right 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
	}

	section.sidebar-toggled,
	div.sidebar-toggled {
		display: flex;
		-webkit-animation: short-slide-in-right 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
		animation: short-slide-in-right 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) forwards;
	}

	#album-info,
	#artist-info,
	#playlist-info {
		align-items: flex-start;
	}

	#track-info > div,
	#album-info,
	#artist-info,
	#playlist-info,
	#album-info #misc-data,
	#playlist-info #misc-data {
		width: 100%;
		padding: 0 0.5em;
	}

	/* Find */

	#attribute-sliders {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, 1fr);
	}

	#attribute-sliders > .slider:last-child {
		min-width: 50%;
		margin: auto;
		grid-column: 1 / span 2;
	}

	#stats {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		margin: 2em 0;
		gap: 2em;
	}

	#stats > div.stat-card {
		align-self: flex-start;
	}
}

@media screen and (max-width: 1140px) and (min-width: 900px) {
	section.login-section .carousel img {
		width: 80%;
	}
}

@media screen and (max-width: 700px) {
	section.sidebar-section:not(.request-login):not(.login-sidebar),
	div.side-content:not(.request-login):not(.login-sidebar) {
		grid-column: 3 / span 10 !important;
	}

	section.login-section {
		grid-row: 1 / span 17;
	}

	section.sidebar-section.login-sidebar,
	div.side-content.request-login {
		grid-column: 1 / span 10;
		grid-row: 18 / span 24;
		flex-wrap: nowrap;
	}

	section.table-content {
		display: flex;
		gap: 2em;
	}

	.no-content-warning {
		max-width: 80%;
	}

	/* Pagination */

	ul.pagination {
		justify-self: center;
	}

	.pagination-divider {
		display: none;
	}

	.top-content .content-section {
		justify-content: start;
	}

	/* GeneralInfo */

	#info {
		align-items: center;
		flex-wrap: wrap;
	}

	#info #image {
		flex-basis: 100%;
	}

	#info #image img {
		max-width: 150px;
	}

	#profile-info {
		gap: 1em;
	}

	/* Album, Artist, Playlist & Track */

	#artist-info,
	#playlist-info,
	#track-info > div,
	#album-info,
	#misc-info {
		flex-wrap: wrap;
	}

	#artist-info #image,
	#playlist-info #image {
		flex-basis: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	section.sidebar-section:not(.request-login):not(.login-sidebar),
	div.side-content:not(.request-login):not(.login-sidebar) {
		grid-column: 2 / span 10 !important;
	}

	.react-tabs__tab-panel--selected {
		padding: 0 0.5em;
	}

	section.login-section .carousel img {
		max-height: 60vh;
	}

	/* Find */

	#attribute-inputs {
		flex-direction: column;
	}

	#attribute-sliders {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(9, 1fr);
	}

	#attribute-sliders > .slider {
		min-width: 75%;
		margin: auto;
	}

	#attribute-sliders > .slider:last-child {
		min-width: 75%;
		grid-column: 1;
	}

	button.find-button {
		margin: 1em 0;
	}
}

@media screen and (max-width: 450px) {
	section.table-content {
		gap: 0.5em;
	}

	/* Pagination */

	ul.pagination {
		margin-bottom: 5em;
	}

	/* Track & Album */

	#playlist-info #misc-data div:nth-child(-n + 4) {
		flex: 1 1 40%;
	}

	#stats {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: 4em;
	}

	#mobile-separator {
		display: block;
	}

	.spotify-icon-link {
		top: 10vh;
	}

	.wikipedia-icon-link,
	.genius-icon-link {
		right: 20px;
		top: calc(10vh + 60px);
	}

	.random-stats-icon-link {
		right: 20px;
		top: 90px;
	}

	/* Find */

	.mode-value-input,
	.mode-labels {
		flex-wrap: wrap;
	}

	#attribute-sliders {
		padding-right: 2em;
	}

	#attribute-sliders > .slider {
		min-width: 100%;
		margin: auto;
	}

	#attribute-sliders > .slider:last-child {
		min-width: 100%;
		grid-column: 1;
	}

	#info li iframe {
		width: 95%;
	}

	.recommendations-buttons {
		flex-direction: column;
		margin-top: 0;
	}
}

/* Animations */

/* ----------------------------------------------
 * Generated by Animista on 2020-8-5 18:2:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes short-slide-in-right {
	0% {
		-webkit-transform: translateX(400px);
		transform: translateX(400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes short-slide-in-right {
	0% {
		-webkit-transform: translateX(400px);
		transform: translateX(400px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(400px);
		transform: translateX(400px);
		opacity: 0;
		display: none;
	}
}
@keyframes slide-out-right {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(400px);
		transform: translateX(400px);
		opacity: 0;
		display: none;
	}
}
