/* Main content styling */

#profile-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 2em;
	padding: 0.5em;
}

#profile-info .username {
	text-align: center;
}

#profile-info h2 strong {
	margin: 0 0.4em;
}

#info {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 1.3em;
	font-weight: 300;
	width: 100%;
	gap: 1em;
	box-sizing: border-box;
}

#info #image {
	text-align: center;
	padding: 1em;
	width: 30%;
}

#info #image img {
	margin: auto;
	width: clamp(150px, 100%, 200px);
	box-sizing: border-box;
}

.img-thumbnail {
	background-color: var(--color-secondary);
	border-width: 0;
}

#info ul {
	padding: 0;
	padding-left: 0.5em;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

#info li {
	list-style-type: none;
	font-size: 1.1em;
	font-weight: 300;
}

#info li a {
	color: var(--color-primary);
}

#info li strong {
	font-weight: 500;
}

#info li.played_song {
	list-style-type: none;
	font-size: 1.1em;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
