.content-section {
    display: flex;
    flex-direction: column;
}

.content-section h3 {
    text-align: center;
    place-items: center;
    margin-bottom: 0.8em;
}

#numbered-data {
    flex-basis: 0 1 auto;
    display: flex;
    justify-content: space-around;
    align-content: baseline;
    min-height: 20%;
    padding: 0 1em;
    font-size: 1.1em;
}


#graphs {
    flex-basis: 1 1 auto;
    margin: auto;
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.stat-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    font-size: 1.2em;
    font-weight: 400;
}

p > svg {
    margin-left: 0.4em;
    font-size: 0.9em;
    cursor: help;
}

strong.stat-value {
    font-size: 1.2em;
    font-weight: 500;
}

.bar {
    margin: auto;
    flex-basis: 25%;
    width: 70%;
    max-height: 0.7em;
    background: antiquewhite;
    border-radius: 2em;
    margin: 0.6em auto 0 auto;
}

.bar .filled {
    height: 100%;
    border-radius: 2em 0 0 2em;
}
