.content-section {
    display: flex;
    flex-direction: column;
}

.content-section h3 {
    text-align: center;
    place-items: center;
}

#info-area {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#graphs {
    flex-basis: 1 1 auto;
    margin: auto;
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.stat-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    font-size: 1.2em;
    font-weight: 300;
}

.bar {
    margin: auto;
    flex-basis: 25%;
    width: 70%;
    max-height: 0.8em;
    background: antiquewhite;
    border-radius: 2em;
    margin: 0.6em auto 0 auto;
}

.bar .filled {
    height: 100%;
    border-radius: 2em 0 0 2em;
}
