/* Main content styling */

#profile-info {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

#profile-info .username {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

#profile-info h2 strong {
	margin: 0 0.4em;
}

#info {
	padding: 1em 0em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 1.2em;
	font-weight: 300;
	width: 100%;
	box-sizing: border-box;
}

#info #image {
	text-align: center;
	padding: 1em;
	width: 30%;
}

#info #image img {
	margin: auto;
	min-width: 8em;
}

.img-thumbnail {
	background-color: antiquewhite;
	border-width: 0;
}

#info ul {
	padding: 0;
	padding-left: 0.5em;
	flex: 1 1 auto;
}

#info li {
	list-style-type: none;
	font-size: 1.1em;
	font-weight: 300;
	padding: 0.5em 0;
}

#info li a {
	color: #1DB954;
}

#info li strong {
	font-weight: 500;
}

