.time-labels, .type-labels, .query-type-labels, .mode-labels {
	width: 100%;
	padding-left: 5%;
}

.time-labels label, .type-labels label, .query-type-labels label, .mode-labels label, label.checkbox-label {
	flex-basis: 100%;
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 32px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-size: 1em;
	font-weight: 500;
}

label > input, label.checkbox-label > input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 5px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #191414;
	border-radius: 50%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
	left: 5px;
	top: 5px;
	height: 8px;
	width: 8px;
	background-color: #1db954;
	border-radius: 50%;
}