.time-labels,
.type-labels,
.query-type-labels,
.mode-labels {
	width: 100%;
	padding-left: 5%;
}

.time-labels label,
.type-labels label,
.query-type-labels label,
.mode-labels label {
	flex-basis: 100%;
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 32px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.time-labels label,
.type-labels label,
.query-type-labels label {
	font-size: 1.2em;
	font-weight: 500;
}

label > input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 5px;
	left: 0;
	height: 19px;
	width: 19px;
	background-color: #191414;
	border-radius: 50%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
	left: 5px;
	top: 5px;
	height: 8px;
	width: 8px;
	background-color: #1db954;
	border-radius: 50%;
}

/* Toggle styling */

.toggle-label {
	position: relative;
	display: inline-block;
}

.toggle {
	position: absolute;
	cursor: pointer;
	width: 40px;
	height: 20px;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 10px;
	background-color: antiquewhite;
	opacity: 0.3;
	-webkit-transition: .4s;
	transition: .4s;
}

.toggle:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	bottom: 3px;
	border-radius: 10px;
	background-color: #191414;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .toggle {
	background-color: #1db954;
	opacity: 1;
}

input:checked + .toggle:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}
