/* Main content styling */



/* Side bar styling */

section.sidebar-section {
	color: #191414 !important;
	display: grid;
	grid-template-columns: 3fr 8fr;
}

div.side-content {
	grid-column: 2 / span 1;
	padding: 1.5em;
	display: flex;
	flex-wrap: wrap;
}

div.side-content div.sidebar-tabs {
	flex-basis: 100%;
	text-align: center;
	height: 10%;
}

div.side-content div.sidebar-tabs button {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0.4em 1em;
	background-color: antiquewhite;
	color: #191414;
	border-width: 0;
    border-bottom: solid 2px #191414;
    outline: none;
}

div.side-content div.sidebar-tabs button:active {
    border-width: 0;
}

div.side-content ul.redirects {
	align-self: flex-start;
	height: 90%;
	padding: 1em;
}

div.side-content ul.redirects li {
	list-style-type: none;
	text-decoration: none;
	font-size: 1.1em;
    font-weight: 500;
    margin-top: 0.5em;
}

div.side-content ul.redirects li a{
	list-style-type: none;
	text-decoration: none;
	font-size: 1.1em;
    font-weight: 500;
    color: #191414;
}

div.side-content ul.redirects li a:hover:before{
    content: " · ";
    font-weight: 800;
}