/* Main content styling */

.content-section {
	overflow-x: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

table {
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.1em;
}

table th {
	border-bottom: 1px solid antiquewhite;
	padding: 0 0.5rem 0.3em 0.5rem;
}

table td {
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	text-align: start;
	vertical-align: baseline;
}

table tbody > tr:nth-child(even) {
	background-color: rgb(250, 235, 215, 0.07);
}

.track-artists a ~ a:before {
	content: ', '
}

/* Sidebar styling */

.settings {
	display: flex;
	width: 100%;
	height: 90%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	flex-direction: column;
	justify-content: space-around;
	padding: 1em 0.5em;
}

form {
	display: flex;
	flex-wrap: wrap;
}

form > p {
	font-size: 1.2em;
	font-weight: 500;
}

.time-labels, .type-labels {
	width: 100%;
	padding-left: 5%;
}

form label {
	flex-basis: 100%;
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 32px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	font-size: 1em;
	font-weight: 500;
}

label > input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 5px;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #191414;
	border-radius: 50%;
}

/* When the checkbox is checked, add a blue background */
label input:checked ~ .checkmark {
	background-color: #191414;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
	left: 5px;
	top: 5px;
	height: 8px;
	width: 8px;
	background-color: #1db954;
	border-radius: 50%;
}

.pagination {
	align-self: center;
	justify-self: end;
	margin: 0.5em;
}

.pagination > li {
	text-decoration: none;
}

.pagination > li a {
	color: antiquewhite;
	padding: 0.4em 0.8em;
	border: 1px solid antiquewhite;
	box-sizing: border-box;
	font-size: 1.1em;
}

.pagination > li:first-child a{
	border-radius: 5px 0 0 5px;
}

.pagination > li:last-child a{
	border-radius: 0 5px 5px 0;
}

.pagination > li.active a {
	font-weight: 600;
	color: #1db954;
}

.pagination > li.disabled a {
	color: slategray;
}

.pagination > li a:hover {
	text-decoration: none;
	background-color: antiquewhite;
	color: #191414;
}

.pagination > li.disabled a:hover {
	background-color: #191414;
	color: slategray;
	cursor: default;
}

.pagination > li.active a:hover {
	background-color: #191414;
	color: #1db954;
	cursor: default;
}
