.navbar-toggler-icon {
	width: 1.4em;
	height: 1.4em;
}

.navbar-light .navbar-toggler {
	border: 0;
	padding: 0.25rem 0.5rem;
}

.navbar-light .navbar-toggler:focus {
	outline: 1px solid var(--color-neutral);
	border-radius: 10px;
}

.navbar-brand {
	font-size: 1.3em;
	letter-spacing: 5px;
	align-self: center;
}

#navbar .navbar-nav {
	align-items: center;
	gap: 1rem;
}

#navbar .nav-link {
	font-size: 1.2em;
	font-weight: 600;
	color: var(--color-neutral);
	animation: focusOut 0.15s linear forwards;
}

#navbar .nav-link:hover {
	animation: focusIn 0.15s linear forwards;
}

#corporum {
	display: grid;
	height: calc(100vh - 60px);
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(24, 1fr);
	overflow-x: hidden;
}

section.content-section {
	z-index: 10;
	grid-column: 1 / span 7;
	grid-row: 2 / span 21;
	background-color: var(--color-neutral);
	padding: 1em;

	-webkit-box-shadow: 15px 15px 30px -5px rgba(25, 20, 20, 0.8);
	-moz-box-shadow: 15px 15px 30px -5px rgba(25, 20, 20, 0.8);
	box-shadow: 15px 15px 30px -5px rgba(25, 20, 20, 0.8);

	-webkit-animation: slide-in-left 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: slide-in-left 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

section.sidebar-section {
	z-index: 5;
	grid-column: 7 / span 4;
	grid-row: 6 / span 18;
	background-color: var(--color-secondary);

	-webkit-box-shadow: 15px 15px 30px -5px rgba(25, 20, 20, 0.8);
	-moz-box-shadow: 15px 15px 30px -5px rgba(25, 20, 20, 0.8);
	box-shadow: 15px 15px 30px -5px rgba(25, 20, 20, 0.8);
}

section.table-content {
	display: grid;
	grid-template-rows: 18fr 2fr;
	justify-items: center;
	gap: 1em;
}

#mobile-separator {
	display: none;
	min-height: 2em;
}

/* Side bar styling */

section.sidebar-section {
	color: var(--color-neutral) !important;
	display: flex;
	justify-content: flex-end;
}

div.side-content {
	z-index: 5;
	grid-column: 8 / span 4;
	grid-row: 6 / span 18;
	color: var(--color-neutral) !important;
	padding: 1.5em;
	display: flex;
	flex-wrap: wrap;
}

div.side-content ul.redirects {
	align-self: flex-start;
	height: 90%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.7em;
}

div.side-content ul.redirects li {
	list-style-type: none;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 500;
	margin-top: 0.5em;
}

div.side-content ul.redirects li a {
	list-style-type: none;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 600;
	color: var(--color-neutral);
	animation: focusOut 0.1s linear forwards;
}

div.side-content ul.redirects li a:hover {
	animation: focusIn 0.2s linear forwards;
}

/* Cards */

#cards {
	display: flex;
	flex-wrap: nowrap;
	gap: 2em;
	min-height: 520px;
	height: min(80vh, 100%);
	padding: 0.5em;

	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;

	scroll-snap-destination: 0% 100%;
	scroll-snap-points-x: repeat(100%);
}

.card {
	flex: 0 0 auto;
	width: clamp(200px, 85vw, 300px);
	height: min(80vh, 100%);
	padding: 2em 1em;
	border: 2px inset var(--color-primary);
	border-style: groove;
	border-radius: 8px;

	scroll-snap-align: center;

	color: var(--color-secondary);
	background-color: var(--color-neutral);
	display: flex;
	flex-direction: column;
	gap: 1.2em;
	font-size: clamp(1.0em, 1.1em, 1.1em);
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
}

.card > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 0.4em;
}

/* React Tabs */

.react-tabs {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.react-tabs__tab-list {
	display: flex;
	width: 100%;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	gap: 0.5em;

	font-size: 1.3em;
	font-weight: 600;
}

.react-tabs__tab {
	cursor: pointer;
	text-align: center;
	width: 6em;
	padding-bottom: 0.2em;
	animation: focusOut 0.2s linear forwards;
}

.react-tabs__tab--selected {
	border-bottom: 2px solid var(--color-neutral);
	animation: focusIn 0.4s linear forwards;
}

.react-tabs__tab-panel--selected {
	flex-basis: 100%;
}

.react-tabs__tab-panel--selected.preview_tab {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MISC */

a.inner-link {
	color: var(--color-primary);
}

.alert {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 50vw;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.no-content-warning {
	place-self: center;
	margin: auto;
	text-align: center;
	font-size: 1.2em;
	max-width: 40%;
}

.no-content-warning > strong {
	font-size: 1.3em;
}

.spotify-icon-link {
	position: absolute;
	font-size: 36px;
	right: 18px;
	top: 18px;
	color: var(--color-spotify);
}

.wikipedia-icon-link {
	position: absolute;
	top: 18px;
	right: 66px;
	justify-self: flex-end;
	font-size: 39px;
	color: black;
	background-color: var(--color-wikipedia);
	padding: 0 8px;
	border-radius: 2px;
}

.side-toggle {
	z-index: 50;
	position: fixed;
	bottom: 15px;
	right: 15px;
	background-size: contain;
	cursor: pointer;
	padding: 0;
	box-shadow: 0px 0px 0px transparent;
	border: 3px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	background-color: transparent;
	border-radius: 3em;
	display: none;
}

.side-toggle:focus {
	outline: none;
	border: 3px solid var(--color-primary);
}

.side-toggle:hover {
	animation: fadeIn 0.2s linear forwards;
}

.side-toggle svg {
	display: block;
	padding: 10px;
	border-radius: 1em;
	-webkit-box-shadow: 8px 8px 20px -5px rgba(25, 20, 20, 0.8);
	-moz-box-shadow: 8px 8px 20px -5px rgba(25, 20, 20, 0.8);
	box-shadow: 8px 8px 20px -5px rgba(25, 20, 20, 0.8);
}

.confirmation-modal .modal-content {
	background-color: var(--color-neutral);
	padding: 0.4em;

	-webkit-box-shadow: 0px 0px 28px 10px rgba(29, 185, 84, 0.4);
	-moz-box-shadow: 0px 0px 28px 10px rgba(29, 185, 84, 0.4);
	box-shadow: 0px 0px 28px 10px rgba(29, 185, 84, 0.4);
}

.confirmation-modal .modal-header,
.confirmation-modal .modal-footer {
	border: 0;
}

.confirmation-modal .modal-header button {
	color: var(--color-primary);
	text-shadow: none;
	font-size: 1.8rem;
}

.confirmation-modal .modal-footer button {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	border-width: 0;
	border-radius: 5px;
	width: 25%;
}

.confirmation-modal .modal-footer button.btn-primary {
	color: var(--color-neutral);
	background-color: var(--color-primary);
}

.confirmation-modal .modal-footer button.btn-secondary {
	color: var(--color-primary);
	background-color: rgb(250, 235, 215, 0.1);
}

/* Tooltips */

.tooltip.top > .tooltip-arrow,
.tooltip > .tooltip-inner {
	background-color: rgba(250, 235, 215, 1.0);
	color: var(--color-neutral);
	background: 1.0;
	padding: 1em;
}

.tooltip.show {
	opacity: 1;
}

/* Scroll Bar */

/* Currently Firefox-only */
* {
	scrollbar-color: var(--color-primary) var(--color-neutral);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar-track {
	background: var(--color-neutral);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
	border-radius: 20px;
	border: 3px solid orange;
}

/* Animations */

.slide-in-right {
	-webkit-animation: slide-in-right 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: slide-in-right 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.heartbeat {
	-webkit-animation: heartbeat 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
	animation: heartbeat 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
}

@-webkit-keyframes fadeIn {
	0% {
		filter: brightness(1);
	}
	100% {
		filter: brightness(1.2);
	}
}
@keyframes fadeIn {
	0% {
		filter: brightness(1);
	}
	100% {
		filter: brightness(1.2);
	}
}

@-webkit-keyframes focusIn {
	0% {
		filter: opacity(0.6);
	}
	100% {
		filter: opacity(1);
	}
}
@keyframes focusIn {
	0% {
		filter: opacity(0.6);
	}
	100% {
		filter: opacity(1);
	}
}

@-webkit-keyframes focusOut {
	0% {
		filter: opacity(1);
	}
	100% {
		filter: opacity(0.6);
	}
}
@keyframes focusOut {
	0% {
		filter: opacity(1);
	}
	100% {
		filter: opacity(0.6);
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-21 16:26:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@-webkit-keyframes slide-in-down {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-in-down {
	0% {
		-webkit-transform: translateY(1000px);
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(1.14);
		transform: scale(1.14);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(1.04);
		transform: scale(1.04);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(1.14);
		transform: scale(1.14);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
