@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
	--color-primary: #4dfda5;
	--color-secondary: #fff0dc;
	--color-neutral: #191414;

	--color-spotify: #1db954;
	--color-wikipedia: #c7c8ca;
}

body {
	margin: 0;
	font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	color: var(--color-secondary);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: var(--color-primary);
	background: linear-gradient(
		135deg,
		rgba(77, 253, 165, 1) 0%,
		rgba(99, 253, 177, 1) 25%,
		rgba(77, 253, 165, 1) 50%,
		rgba(99, 253, 177, 1) 75%,
		rgba(77, 253, 165, 1) 100%
	);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
