@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
	--color-primary: #3cbbb1;
	/* --color-primary: #e9724c; */
	/* --color-primary: #20fc8f; */
	/* --color-primary: #68b684; */
	/* --color-primary: #f08700; */
	/* --color-primary: #00a9a5; */

	--color-secondary: #fff0dc;
	--color-neutral: #191414;

	--color-spotify: #1db954;
	--color-wikipedia: #c7c8ca;
}

body {
	margin: 0;
	font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
	background: var(--color-primary);
	/* background: radial-gradient(circle, rgba(20, 130, 59, 1) 0%, rgba(29, 185, 84, 1) 100%); */
	color: var(--color-secondary);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
